<mat-card>
    <mat-card-content>
      <form class="section" [formGroup]="practionerForm">
        <div formGroupName="practioner">
        <div class="row">
            <div class="col-md-6"> 
                <mat-checkbox color="primary" formControlName="disabled">Disabled</mat-checkbox></div>
            <div class="col-md-6" >
                <mat-checkbox color="primary" formControlName="videoConferencing">Allow Video Conferencing</mat-checkbox>
            </div>
        </div>
        <hr/>
            <div class="row">
              <div class="col-md-6">
                  <h2>Schedule details</h2>
              </div>
              <div class="col-md-6">
                  <button type="submit" mat-raised-button color="primary" [disabled]="!practionerForm.valid" (click)="onSubmit()">Save Schedule</button>
              </div>
          </div>
        
          <div class="row" >
            <mat-form-field appearance="outline">
                <mat-label>Schedule Name</mat-label>
                <input matInput formControlName="scheduleName">
                <mat-error *ngIf="practionerForm.get('practioner.scheduleName')?.hasError('required')">Please Provide Schedule name</mat-error>
              </mat-form-field>
         </div>
     
         <div class="row">
          <div class="col-md-6">
              <h3 class="py-16">Time Slots</h3>
          </div>
          <div class="col-md-3">
              <button mat-raised-button>Add Time Slots</button>
          </div>
          <div class="col-md-3">
              <button mat-raised-button color="warn" (click)="removeSelectedRows()">Remove Selected Days</button>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Select Days</mat-label>
            <mat-select>
              <mat-option *ngFor="let day of days" [value]="day.value">
                {{day.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <ngx-timepicker-field [defaultTime]="'11:11 am'"></ngx-timepicker-field>
        </div>
        <div class="col-md-3">
          <ngx-timepicker-field [defaultTime]="'08:11 pm'"></ngx-timepicker-field>
        </div>
        <div class="col-md-3">col 4</div>
      </div>

      <div>
        <br/>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              color="primary">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              color="primary">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef> Day </th>
              <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fromTime">
              <th mat-header-cell *matHeaderCellDef> From Time </th>
              <td mat-cell *matCellDef="let element"> {{element.fromTime}} </td>
            </ng-container>
          
            <ng-container matColumnDef="toTime">
              <th mat-header-cell *matHeaderCellDef> To Time </th>
              <td mat-cell *matCellDef="let element"> {{element.toTime}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
       </div>
          </div>
        </form>
    </mat-card-content>
  </mat-card>


  